<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PaaS</title>
<link href="/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="/css/skeleton.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<h1>Hallo!</h1>
		<p>Entscheidungen treffen ist schwer.</p>
		<p>Der Panda möchte dir aber dabei helfen! Gib unten eine Frage
			ein, die der Panda mit "Ja" oder "Nein" beantworten kann. Er wird das
			gerne für dich tun, pand pand!</p>
		<form>
			<label for="exampleMessage">Stelle den Panda eine
				Ja/Nein-Frage:</label>
			<textarea class="u-full-width" placeholder="Hi Panda..."
				id="exampleMessage"></textarea>
			<button id="get-answer" class="button-primary">Antwort</button>
		</form>
		<strong id="answer"></strong>
	</div>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>